/* styles.css */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	color: #333;
}

header {
	background-color: #789dbc;
	color: white;
	padding: 20px;
	text-align: center;
}

header h1 {
	font-size: 2em;
}

main {
	max-width: 800px;
	margin: 20px auto;
	padding: 20px;
	background-color: white;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.entrada {
	margin-bottom: 20px;
	text-align: center;
	background-color: #ffe3e3;
	padding: 15px;
}

.entrada h2 {
	font-size: 1.5em;
	color: #333;
	margin-bottom: 10px;
}

.entrada img {
	max-width: 100%;
	height: auto;
	border-radius: 5px;
	margin-bottom: 10px;
}

.entrada p {
	font-size: 1em;
	line-height: 1.6;
	color: #555;
}

footer {
	text-align: center;
	padding: 10px;
	background-color: #c9e9d2;
	color: black;
	margin-top: 20px;
}
